In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./datafinal.csv')

In [4]:
df.head(17)

,id,limit_bal,sex,education,marriage,age,pay_sep,pay_ago,pay_jul,pay_jun,...,bill_amt_jun,bill_amt_may,bill_amt_apr,pay_amt_sep,pay_amt_ago,pay_amt_jul,pay_amt_jun,pay_amt_may,pay_amt_apr,payment_next_month
0,1,20000.0,1,2,0,24,2,0,-1,0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,1,2,1,26,0,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,1,2,1,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,1,2,0,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,0,2,0,57,0,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
5,6,50000.0,0,1,1,37,0,0,0,0,...,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0
6,7,500000.0,0,1,1,29,0,0,0,0,...,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,0
7,8,100000.0,1,2,1,23,0,0,-1,0,...,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0
8,9,140000.0,1,3,0,28,0,2,2,0,...,12211.0,11793.0,3719.0,3329.0,0.0,432.0,1000.0,1000.0,1000.0,0
9,10,20000.0,0,3,1,35,0,-2,0,0,...,0.0,13007.0,13912.0,0.0,0.0,0.0,13007.0,1122.0,0.0,0
10,11,200000.0,1,3,1,34,0,2,2,0,...,2513.0,1828.0,3731.0,2306.0,12.0,50.0,300.0,3738.0,66.0,0
11,12,260000.0,1,1,1,51,0,0,-1,0,...,8517.0,22287.0,13668.0,21818.0,9966.0,8583.0,22301.0,0.0,3640.0,0
12,13,630000.0,1,2,1,41,0,0,-1,0,...,6500.0,6500.0,2870.0,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,0
13,14,70000.0,0,2,1,30,1,2,2,0,...,66782.0,36137.0,36894.0,3200.0,0.0,3000.0,3000.0,1500.0,0.0,1
14,15,250000.0,0,1,1,29,0,0,0,0,...,59696.0,56875.0,55512.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,0
15,16,50000.0,1,3,2,23,1,0,0,0,...,28771.0,29531.0,30211.0,0.0,1500.0,1100.0,1200.0,1300.0,1100.0,0
16,17,20000.0,0,1,1,24,0,2,2,2,...,18338.0,17905.0,19104.0,3200.0,0.0,1500.0,0.0,1650.0,0.0,1

In [7]:
df.loc[16]

id                       17.0
limit_bal             20000.0
sex                       0.0
education                 1.0
marriage                  1.0
age                      24.0
pay_sep                   0.0
pay_ago                   2.0
pay_jul                   2.0
pay_jun                   2.0
pay_may                   2.0
pay_apr                   2.0
bill_amt_sep          15376.0
bill_amt_ago          18010.0
bill_amt_jul          17428.0
bill_amt_jun          18338.0
bill_amt_may          17905.0
bill_amt_apr          19104.0
pay_amt_sep            3200.0
pay_amt_ago               0.0
pay_amt_jul            1500.0
pay_amt_jun               0.0
pay_amt_may            1650.0
pay_amt_apr               0.0
payment_next_month        1.0
Name: 16, dtype: float64